html {
    display: flex;
    justify-content: center;
}
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: lightblue;
    width: 500px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 500px;
    height: 500px;
}

#grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#header {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    align-items: flex-end;
    font-family: 'Rock 3D';
    font-size: 50px;
    margin-bottom: 10px;
}


.square {
    display: block;
    background-color: white;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
}

#menu {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100px;
}

.button {
    background-color: rgb(255, 106, 106);
    font-family: 'Roboto Mono';
    font-size: 30px;
    color: white;
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}

#reset-button{
    margin: 10px;
}
.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: white; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #ff6803; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }















